@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


@theme{
  --color-primary : #3B32EC;
  --color-secondary:#F0F0F0;
  --color-border:#D6D6D6;
  --color-red:#DA2551;
  --color-red-bg:#FBF3F5;
  --color-black:#000;
  --color-placeholder:#515970;
}

:root {
  font-family: 'Manrope', Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: rgba(0, 0, 0, 0.87);
  /* background-color: #242424; */
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}
